body{
font-family: Arial;
margin:0;
background:#111;
color:white;
}

header{
background:#1f1f1f;
padding:20px;
text-align:center;
}

nav a{
margin:0 15px;
color:#00ffd5;
text-decoration:none;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

.skill{
margin:20px 0;
}

.bar{
background:#333;
height:25px;
border-radius:20px;
}

.progress{
height:25px;
border-radius:20px;
text-align:right;
padding-right:10px;
line-height:25px;
}

.sql{
width:80%;
background:#00ffd5;
}

.powerbi{
width:70%;
background:#4caf50;
}

.excel{
width:85%;
background:#2196f3;
}

.project{
background:#1f1f1f;
padding:20px;
margin:20px 0;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
background:#1f1f1f;
}
